In [2]:
import dmyplant2
from dmyplant2 import MyPlant as mp
d = dmyplant2.MyPlant.get_dataitems()

In [3]:
d;

In [9]:
def sfun(x):
    return \
    (("stat".upper() in str(x['name']).upper()) and 
     #("temp".upper() in str(x['name']).upper()) and 
     not str(x['name']).startswith('Para'))

d[d.apply(lambda x: sfun(x), axis=1)].sort_values(by = "name",ascending=True).reset_index(drop='index')

          id                 name unit                     myPlantName
0      15785          ActiveState  NaN                    Active State
1   10008984           CylState_1  NaN          Cylinder state Cyl. 01
2   10008986          CylState_10  NaN          Cylinder state Cyl. 10
3   10008988          CylState_11  NaN          Cylinder state Cyl. 11
4   10008989          CylState_12  NaN          Cylinder state Cyl. 12
5   10008990          CylState_13  NaN          Cylinder state Cyl. 13
6   10008993          CylState_14  NaN          Cylinder state Cyl. 14
7   10008991          CylState_15  NaN          Cylinder state Cyl. 15
8   10008992          CylState_16  NaN          Cylinder state Cyl. 16
9   10008994          CylState_17  NaN          Cylinder state Cyl. 17
10  10008995          CylState_18  NaN          Cylinder state Cyl. 18
11  10008997          CylState_19  NaN          Cylinder state Cyl. 19
12  10008999           CylState_2  NaN          Cylinder state Cyl. 02
13  10008996          CylState_20  NaN          Cylinder state Cyl. 20
14  10008998           CylState_3  NaN          Cylinder state Cyl. 03
15  10009000           CylState_4  NaN          Cylinder state Cyl. 04
16  10009001           CylState_5  NaN          Cylinder state Cyl. 05
17  10009002           CylState_6  NaN          Cylinder state Cyl. 06
18  10009004           CylState_7  NaN          Cylinder state Cyl. 07
19  10009003           CylState_8  NaN          Cylinder state Cyl. 08
20  10009005           CylState_9  NaN          Cylinder state Cyl. 09
21  10008970       PI_SteadyState  NaN            steady state reached
22  10008985  StartsCnt_Statistic  NaN  Counter for the startstatistic
23      1040     connectionStatus  NaN               Connection Status
24     27851   oil_gastops_status  NaN                 Status Register
25  10050012    opstate_iidx_omss  NaN         Service selector switch
26  10050013     opstate_iidx_rss  NaN         Request selector switch

In [3]:
import pandas as pd
pd.options.mode.chained_assignment = None # default warn => SettingWithCopyWarning
import numpy as np
import matplotlib.pyplot as plt
import bokeh
from collections import namedtuple
from pprint import (pprint as pp, pformat as pf)
import warnings
warnings.simplefilter(action='ignore', category=UserWarning)
from IPython.display import HTML, display
import ipywidgets as widgets
import arrow

import dmyplant2
dmyplant2.cred()
mp = dmyplant2.MyPlant(3600)

In [4]:
mp.get_dataitems()

,id,name,unit,myPlantName
0,18180,Para_Island_Limit_LSdSpeedLimit,NaN,Engine / Isolated operation / Limit / Speed li...
1,10008855,Para_ModulControler_Ctr30_t_period_up,NaN,Plant controller / Outlet air fan - Room tempe...
2,69,Hyd_PressCoolWat,bar,Cooling water pressure
3,10000302,Para_Gas_Pr_GasPrAbsActive,NaN,Gas / Gas pressure measuring absolute (11388)
4,1019355,RMD_BlowByFilterOPHEventLast,NaN,RMD BlowByFilterOPHEventLast
...,...,...,...,...
5906,10050149,safi_iu_safi_win4_20,mV,Inlet valve closure noise cyl. 20
5907,10008551,Para_Hydraulic_Oil_OilFilterUnit_Pr_OFUaFilt_A...,NaN,Hydraulic / Oil / Oil filter unit / Oil pressu...
5908,10049863,auxiliariesgeneral_rpr_eo_diff_f,NaN,Oil filter difference pressure
5909,10008419,Para_ModulControler_Ctr27_dW_up,NaN,Plant controller / Supply water temperature co...
5910,17365,Para_Exhaust_TempInTurboMax,NaN,Exhaust / Turbocharger inlet temp. maximum (11...